.overlay {
  position: fixed;
  overflow: auto;
  top: 108px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 100;
}

.modal {
  padding: 40px 20px;
  position: absolute;
  min-height: 600px;
  max-width: 670px;
  width: 100vw;
  background-color: var(--text-color-white);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
}

.close_btn {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 280px;
}

@media screen and (min-width: 670px) {
  .modal {
    padding: 64px 82px;
  }
  .overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.12);
  }
  .close_btn {
    cursor: pointer;
    display: initial;
    padding: 7px;
    position: absolute;
    border: none;
    background: transparent;
    top: 12px;
    right: 12px;
  }
  .close_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke-width: 0;
    stroke: var(--text-color-black);
    fill: var(--text-color-black);
  }
  .container {
    max-width: 370px;
  }
}
