.container {
  display: flex;
  align-items: center;
}

.text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.07;
  text-align: right;
  letter-spacing: 0.04em;

  color: var(--text-color-black);
}

.span {
  &::before {
    content: "";

    position: absolute;
    // top: 50%;
    // left: 95px;
    transform: translate(-50%, -50%);

    display: inline-block;
    width: 32px;
    height: 2px;
    background: #e0e0e0;
    transform: rotate(90deg);
  }
}

.btn {
  margin-left: 30px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.07;
  letter-spacing: 0.04em;

  border: none;
  color: var(--text-color);
  background: none;
  cursor: pointer;
  transition: 250ms;

  &:hover,
  &:focus {
    color: var(--text-color-black);
  }
}

.iconBtn {
  position: absolute;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  border: none;
  background-color: none;
}

.icon {
  width: 12px;
  height: 7px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    position: absolute;
    right: 0;
    bottom: 23px;
  }
}
