.wrapper {
  position: relative;
  width: 160px;
  height: 20px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    width: 270px;
    height: 38px;
    margin-bottom: 60px;
  }
}

.datePicker {
  // margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 1.28;
  }
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 20px;
}
