.wrapper {
  position: relative;
  width: 160px;

  @media (min-width: 768px) {
    width: 270px;
  }
}

.datePicker {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 34px;
    line-height: 1.28;
  }
}

.icon {
  width: 20px;
}
