.datePicker {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-bottom: 60px;
    font-size: 34px;
  }
}
