@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0 15px;
    width: 1280px;
    display: flex;

    margin: 0 auto;
  }
  .form {
    padding-top: 155px;
    padding-bottom: 110px;
  }
}
