//mobile version
.backbox {
  padding: 40px 20px 70px 20px;
  display: flex;
  justify-content: center;
  background-color: var(--bgc-second);
}

.box {
  width: 280px;
}

.title {
  font-size: 14px;
  margin-bottom: 20px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.list {
  margin-bottom: 40px;
}

.item {
  font-weight: 400;
  color: var(--text-color);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.sub_title {
  font-size: 14px;
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
  color: var(--text-color);
}

//tablet version
@media screen and (min-width: 768px) {
  .backbox {
    padding: 80px 32px 80px 32px;
    justify-content: flex-start;
    background-image: url(../../assets/calculate-diaryPage/tablet/bgi-ridesidebar-tabl-1x.png);
    background-size: 350px 350px;
    background-position: right bottom;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/calculate-diaryPage/tablet/bgi-ridesidebar-tabl-2x.png);
      background-size: 350px 350px;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }

  .box {
    display: flex;
    justify-content: space-between;
    width: 610px;
    // height: 166px;
  }

  .flexbox {
    width: 250px;
  }

  .list {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 40px;
  }

  .sub_title {
    margin-bottom: 40px;
  }
}

//desctop version
@media screen and (min-width: 1280px) {
  .backbox {
    align-items: center;
    padding: 300px 140px 265px 100px;
    background-image: url(../../assets/calculate-diaryPage/desktop/bgi-ridesidebar-desk-1x.png);
    background-size: 740px 840px;
    background-position: right -30px bottom;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../assets/calculate-diaryPage/desktop/bgi-ridesidebar-desk-2x.png);
      background-size: 740px 840px;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }

  .box {
    display: block;
    width: 280px;
  }

  .list {
    margin-bottom: 60px;
  }
}
