.wrapper {
  padding-top: 60px;
  @media (max-width: 768px) {
    padding-top: 120px;
  }

  @media (min-width: 768px) {
    padding-top: 160px;
    padding-bottom: 420px;

    background-image: 
      linear-gradient(45deg, transparent 80%, white),
      linear-gradient(90deg, transparent 90%, white),
      linear-gradient(180deg, transparent 90%, white),
      url(../../assets/register-loginPage/tablet/bgi-tabl-1x.png);
    background-size: 768px 1024px;
    background-position: right bottom;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
        linear-gradient(45deg, transparent 80%, white),
        linear-gradient(90deg, transparent 90%, white),
        linear-gradient(180deg, transparent 90%, white),
        url(../../assets/register-loginPage/tablet/bgi-tabl-2x.png);
      background-size: 768px 1024px;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1280px) {
    padding-top: 300px;
    padding-bottom: 185px;
    background-image: 
      linear-gradient(45deg, transparent 80%, white),
      linear-gradient(90deg, transparent 90%, white),
      linear-gradient(180deg, transparent 90%, white),
      url(../../assets/register-loginPage/desktop/bgi-homepage-desk-1x.png);
    background-size: 1000px 850px;
    background-position: top right;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
        linear-gradient(45deg, transparent 80%, white),
        linear-gradient(90deg, transparent 90%, white),
        linear-gradient(180deg, transparent 90%, white),
        url(../../assets/register-loginPage/desktop/bgi-homepage-desk-2x.png);
      background-size: 1000px 850px;
      background-position: top right;
      background-repeat: no-repeat;
    }
  }
}
.title {
  font-size: 14px;
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 60px;
  @media (max-width: 768px) {
    text-align: center;
  }
}
