.wrapper {
  width: 280px;
  @media (min-width: 768px) {
    width: 704px;
  }
  @media (min-width: 1280px) {
    width: 608px;
  }
}

.title {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: #212121;

  margin-bottom: 32px;
  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 1.2;

    margin-bottom: 68px;
  }
}

.labelForBlood {
  width: 240px;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #9b9faa;
  margin-top: 40px;
  @media (min-width: 768px) {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.radioButton {
  margin-top: 8.5px;
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.containerInputForm {
  @media (min-width: 768px) {
    // height: 180px;
    display: flex;
  }
}

.inputFormButton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @media (min-width: 768px) {
    display: block;
    margin-top: 20px;
  }
  @media (min-width: 1280px) {
    margin-left: 323px;
  }
}
