.wrapper {
  padding-top: 40px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 55px;
  }

  @media (min-width: 1280px) {
    padding-top: 140px;
  }
}
