.wrapper {
  padding-top: 40px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 55px;
  }

  @media (min-width: 1280px) {
    padding-top: 140px;
    padding-right: 99px;
    padding-bottom: 0px;
  }
}

.btn {
  margin-top: 60px;
}

.wrapperComponent {
  width: 280px;
  margin: 0 auto;
  margin-top: -40px;

  @media (min-width: 768px) {
    width: 668px;
    margin-top: -100px;
  }

  @media (min-width: 1280px) {
    margin: 0;
    width: 652px;
    margin-top: -95px;
  }
}
.title {
  margin-bottom: 20px;
}
.text {
  margin-bottom: 20px;
  color: var(--text-color);
}

.linkTo {
  display: inline-block;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  cursor: pointer;
}

.visibility {
  visibility: hidden;
}
