.btn {
  position: absolute;
  right: 0;
  top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .btn {
    top: 25%;
  }
}

@media screen and (min-width: 1280px) {
  .btn {
    display: none;
  }
}
