.wrapper {
  position: relative;
  width: 240px;
  height: 37px;
  display: grid;
  margin-bottom: 32px;
  @media (min-width: 768px) {
    margin-right: 32px;
    margin-bottom: 40px;
  }
}

.label {
  position: absolute;
  left: -10px;
  top: -10px;
  padding: 10px;
  pointer-events: none;
  transition: 250ms;

  font-family: "Verdana";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  text-align: center;
  margin-top: auto;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.21;
  color: #9b9faa;
}

.input:valid ~ label,
.input:focus ~ label {
  color: var(--color-accent);
  transform: translateX(8px) translateY(1px);
  font-size: 10px;
  padding: 0 5px;
}
.input::-webkit-inner-spin-button {
  display: none;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #9b9faa;
}
