.wrapper {
  width: 240px;
  display: grid;
  margin-bottom: 32px;
  @media (min-width: 768px) {
    margin-right: 32px;
  }
}

.label {
  font-family: "Verdana";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #9b9faa;
}

.input:focus,
.input:hover {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
