.header {
  position: relative;

  padding: 20px 0;

  border-bottom: 2px solid #e0e0e0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }

  .nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }

  .navLogin {
    flex-direction: row;
    align-items: center;
  }

  .mobileContainer {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 40px;

    background: #EFF1F3;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    border: none;
  }
  .nav {
    justify-content: left;
    align-items: flex-end;
  }
}
