.title {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: #212121;

  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 20px;
  @media (min-width: 768px) {
    margin-top: 100px;
    margin-bottom: 68px;
    padding-left: 32px;
  }

  @media (min-width: 1280px) {
    margin-top: 140px;
    padding-left: 16px;
  }
}

.labelForBlood {
  width: 240px;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #9b9faa;
  @media (min-width: 768px) {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.radioButton {
  margin-top: 8px;
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.containerInputForm {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    height: 180px;
    display: flex;
    margin-bottom: 60px;
  }
}
.inputFormButton {
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    display: block;
  }
  @media (min-width: 1280px) {
    margin-left: 323px;
  }
}
